
<!doctype html>
<html lang="en">

<head>
    <title>Chinh sua thong tin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
     <!-- <script th:if="${message}!=null">
       alert("${message}");</script>-->
    <main class="container">
        <section class="row">
            <div class="col-8 offset-2">
                <form th:action="@{/user/edit}" method="post" th:object="${user}">
                    <div class="card">
                        <div class="card-header">
                            <b>chinh sửa thông tin người dùng</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="username">user name</label>
                                        <input th:field="*{username}" type="text" class="form-control" name="username" id="username"
                                            aria-describedby="usernameHid" placeholder="username" readonly>
                                        <small id="usernameHid" class="form-text text-muted">username is
                                            required</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="fullname">fullname</label>
                                        <input th:field="*{name}" type="text" class="form-control" name="fullname" id="fullname"
                                            aria-describedby="fullnameHId" placeholder="fullname">
                                        <small id="fullnameHId" class="form-text text-muted">fullname is
                                            required</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="password">password</label>
                                        <input th:field="*{password}" type="password" class="form-control" name="password" id="password"
                                            placeholder="password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <button type="submit" class="btn btn-sucess">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>-->